[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
uvicorn = "*"
fastapi = "*"
pandas = "*"
python-multipart = "*"
langchain = "*"
matplotlib = "*"
openai = "*"
pinecone-client = "*"
huggingface-hub = "*"
tqdm = "*"
sentence-transformers = "*"
beautifulsoup4 = "*"
chromadb = "==0.3.29"

[requires]
python_version = "3.9"
